/*font-family: 'Taviraj', serif; app text*/
/*font-family: 'Kaushan Script', cursive; app name*/
/*font-family: 'Diplomata SC', cursive;*/

body {
    font-family: 'Taviraj', serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Diplomata SC', cursive;
    color: black;
}

.btn-lg {
    margin-top:15px;
    border:solid;
    border-color: black;
}

#panelB, #panelC {
    height:550px;
    width:100%;
    overflow-y:scroll;
}

a {
    color: black;
}

#scale_down {
    font-size: 12px;
}

.panel-body{
    background-color: transparent;
}
/*#top_jumbo {*/
    /*position: fixed;*/
   /**/
/*}*/


